<div class="content-wrapper">
    <div class="tiradentes">
        <table>
            <thead class="title">
                TIRADENTES
                <button (click)="removeTeam('tiradentes', tiradentesList)">Next</button>
            </thead>
            <thead>
                <th>Jogador 1</th>
                <th>Jogador 2</th>
            </thead>
            <tr *ngFor="let team of tiradentesList">
                <td><span>{{ team[0]?.name }}</span> <div (click)="removePlayer('tiradentes',team[0]?.id)" class="trash"></div></td>
                <td><span>{{ team[1]?.name }}</span> <div *ngIf="team[1]" (click)="removePlayer('tiradentes',team[1]?.id)" class="trash"></div></td>
            </tr>
        </table>
        <div *ngIf="tiradentesList.length === 0">FILA VAZIA...</div>
        <button (click)="openDialog('tiradentes')">Entrar na Fila</button>
    </div>
    <br><br>
    <div class="apolo">
        <table>
            <thead class="title">
                APOLO
                <button (click)="removeTeam('apolo', apoloList)">Next</button>
            </thead>
            <thead>
                <th>Jogador 1</th>
                <th>Jogador 2</th>
            </thead>
            <tr *ngFor="let team of apoloList">
                <td><span>{{ team[0]?.name }}</span> <div (click)="removePlayer('apolo',team[0]?.id)" class="trash"></div></td>
                <td><span>{{ team[1]?.name }}</span> <div *ngIf="team[1]" (click)="removePlayer('apolo',team[1]?.id)" class="trash"></div></td>
            </tr>
        </table>
        <div *ngIf="apoloList.length === 0">FILA VAZIA...</div>
        <button (click)="openDialog('apolo')">Entrar na Fila</button>
    </div>
    <div *ngIf="isModalOpen" class="modal">

        <div class="modal-content">
            <span (click)="closeDialog()" class="close">&times;</span>
            <Label for="player1Name">Nome do primeiro integrante: </Label>
            <input id="player1Name" type="text" [(ngModel)]="player1Name" >
            <br>
            <br>
            <Label for="player1Name">Nome do segundo integrante: </Label>
            <input id="player2Name" type="text" [(ngModel)]="player2Name">
            <br>
            <br>
            <span class="warn">Insira ao menos um nome para entrar na fila.</span>
            <br>
            <button [disabled]="isClickDisabled" (click)="sendPlayersNames()">Entrar</button>
        </div>
    
    </div>
</div>