table{
    border-collapse: collapse;
    width: 450px;
}

td, th{
    max-width: 200px;
    border: 1px solid gray;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

td, th{
    width: 50%;
}

.title{
    color: grey;
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
}

.content-wrapper{
    display: flex;
}

.tiradentes{
    float: left;
    height: fit-content;
    margin-right: 50px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.warn {
    color: #888;
    font-size: 14px;
}

.icon {
    cursor: pointer;
    float: right;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.modal-title {
    font-size: 18px;
    text-transform: uppercase;
}

.trash {
    background-image: url(../assets/images/trash.png);
}

.add {
    background-image: url(../assets/images/add.png);
}